<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Crops", "Index", "Crops")</li>
    <li>@Html.ActionLink("Crops Varieties", "Index", "CropVarieties")</li>
    <li>@Html.ActionLink("Crop Rates", "Index", "CropRates")</li>
    <li>@Html.ActionLink("Store", "Index", "Stores")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
    <li>@Html.ActionLink("Seed Selling", "Index", "SeedSellings")</li>
    <li>@Html.ActionLink("Bank Payment", "Index", "BankPayments")</li>
</ul>
